NODE_ENV=dev
PORT=3000
DATABASE=mongodb+srv://dkondak:<PASSWORD>@cluster0.fv3unfk.mongodb.net/natours?appName=Cluster0
DATABASE_LOCAL=mongodb://27017/natours
DATABASE_KEY=<PASSWORD>

JWT_SECRET=<SECRET>
JWT_EXPIRES_IN=30d
JWT_COOKIES_EXPIRES_IN=90

EMAIL_HOST=gmail
EMAIL_PORT=80
EMAIL_USER=natours@gmail.com
EMAIL_PASSWORD=<EMAIL_PASSWORD>

STRIPE_SECRET_KEY=<SECRET_KEY>
